
.homepage-container {
  width: 100%;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.slick-prev:before,
.slick-next:before {
  color: #000;
}


.numbers-section {
  position: relative;
  background-color: #116e63; /* Set your desired background color here */
  width: 100%;
  height: 100px; /* Adjust the height as per your requirement */
  display: flex;
  align-items:center;
  justify-content: center;
  align-content: space-around;
}

.numbers-content {
  position: absolute;
  text-align: center;
}

.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


@media (max-width: 600px) {
  .responsive-image {
    max-width: 100%; /* Ensure it fits on smaller screens */
  }
}
